$socialMediaColors: (
  facebook: hsl(203, 89%, 53%),
  twitter: hsl(195, 100%, 50%),
  instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)),
  youtube: hsl(348, 97%, 39%),
);

// Breakpoints
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;

:root {
  // Global
  --gray: #5f616d;
  --textColor: #1d2029;
  --lightGray: #f8f9fe;

  // Dark mode sitch
  --switch: #5f616d;
  --switchSpinner: #fff;

  // Card
  --bgCard: #f0f3fa;
  --cardTitle: #6f717e;
}
.dark-theme {
  // Global
  --gray: #8088ad;
  --textColor: #fff;
  --bg: #1d2029;
  --lightGray: transparent;

  // Dark mode sitch
  --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  --switchSpinner: #282943;

  // Card
  --bgCard: #252b43;
  --cardTitle: #8088ad;
}
